<section class="container login-screen">
  <header class="header ff-inter"> Realize o seu login aqui:</header>
  <form [formGroup]="formsLogin" (ngSubmit)="autenticator()">
    <label for="email" class="label-email">Email</label>
    <input
      type="email"
      class="input"
      placeholder="Insira seu email para login"
      formControlName="email">
    <div class="alert-required" *ngIf="formsLogin.get('email')?.errors?.['email']">
      Preencha corretamente: "@email.com"
    </div>
    <div class="alert-required" *ngIf="formsLogin.get('email')?.errors?.['required'] && formsLogin.get('email')?.touched">
      O campo email é obrigatório!
    </div>
    <label for="text" class="label-pwd">Senha</label>
    <input
      type="password"
      class="input"
      placeholder="Insira sua senha de acesso"
      formControlName="password">
      <div class="alert-required" *ngIf="formsLogin.get('password')?.errors?.['required'] && formsLogin.get('password')?.touched">
        O campo senha é obrigatório!
      </div>
    <div class="button-container">
      <button type="submit" class="button-verify">Entrar </button>
      <button class="button-register" routerLink="/register">Registrar</button>
    </div>
  </form>
</section>
