.home{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  color: #154580;

}
.title{
  font-size: 30px;
  margin-top: 50px;
}
.conteudo{
  width: 450px;
  margin-top: 10px;
  text-align: center;
}
