<section class="container login-screen">
  <header class="header ff-inter"> Preencha com seus dados para realizar o <br> cadastro</header>
  <form [formGroup]="formsRegister">
    <label for="name" class="label-name">Nome</label>
    <input
      type="text"
      class="input"
      placeholder="Insira seu nome para Cadastro"
      formControlName="name">

    <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('name')?.errors && formsRegister.get('name')?.touched && formsRegister.get('email')?.dirty">
      Nome é obrigatório
    </div>

    <label for="email" class="label-email">Email</label>
    <input
      type="email"
      class="input"
      placeholder="Insira seu email para login"
      formControlName="email">

    <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('email')?.errors?.['required'] && formsRegister.get('email')?.touched && formsRegister.get('email')?.dirty">
      E-mail é obrigatório
    </div>

    <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('email')?.errors?.['email'] && formsRegister.get('email')?.touched && formsRegister.get('email')?.dirty">
      Formato de e-mail inválido
    </div>


    <label for="text" class="label-pwd">Senha</label>
    <input
      type="password"
      class="input"
      placeholder="Insira sua senha de acesso"
      formControlName="password">

    <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('password')?.errors?.['required'] && formsRegister.get('password')?.touched && formsRegister.get('email')?.dirty">
      Senha é obrigatório
    </div>

    <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('password')?.hasError('uppercaseRequired') && formsRegister.get('password')?.touched && formsRegister.get('email')?.dirty">
      {{ customPasswordErrors.uppercaseRequired}} <br>
      {{ customPasswordErrors.symbolRequired }}
    </div>

    <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('password')?.hasError('symbolRequired') && formsRegister.get('password')?.touched && formsRegister.get('email')?.dirty">
      {{ customPasswordErrors.uppercaseRequired}} <br>
      {{ customPasswordErrors.symbolRequired }}
    </div>

    <label for="text" class="label-pwd">Confirmar Senha</label>
    <input
      type="password"
      class="input"
      placeholder="Insira sua senha novamente"
      formControlName="confirmPassword">

      <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('confirmPassword')?.hasError('required') && formsRegister.get('confirmPassword')?.touched && formsRegister.get('email')?.dirty">
      Campo de confirmar a senha é obrigatório
    </div>

    <div
      class="mensagem__erro"
      *ngIf="formsRegister.get('confirmPassword')?.errors && formsRegister.get('confirmPassword')?.touched && formsRegister.get('email')?.dirty">
      As senhas não são compatíveis
    </div>

    <button type="submit" (click)="criarUsuario()" [ngClass]="habilitarBotao()">Cadastrar</button>

  </form>
</section>
