.login-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.header{
  color: #154580;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}
.login-screen form{
  width: 400px;
  height: 500px;
  border-radius: 10px;
  padding: 10px;
  background-color: #C4EDFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.label-name{
  margin-top: 25px;
  color: #154580;
  font-size: 18px;

  font-family: 'Inter', sans-serif;
  font-weight: bold;

}
.label-email{
  color: #154580;
  font-size: 18px;

  font-family: 'Inter', sans-serif;
  font-weight: bold;

}
.label-pwd{
  color: #154580;
  font-size: 18px;

  font-family: 'Inter', sans-serif;
  font-weight: bold;
}
.input{
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 15px;
}
.button-verify{
  margin-top: 15px;
  background-color: #154580;
  color: white;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.button-verify:hover{
  background-color: #2069c2;
  transition: 0.5s;
}

.alert-required{
  color: red;
  font-size: 12px;
  width: 250px;
  font-family: 'Inter', sans-serif;
  margin-right: 60px;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: 5px;
}

.button-register {
  height: 50px;
  width: 380px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #154580;
  color: #FFF;
  font-size: 16;
  margin: 25px auto;
  border: none;
}

.button-register-disabled {
  height: 50px;
  width: 380px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #7c7773;
  color: #FFF;
  font-size: 16;
  margin: 25px auto;
  border: none;
}
