.register-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.header{
  color: #154580;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
}

.register--header{
  font-size: 1.5em;
  text-align: center;
  color: #154580;
  margin: 35px 0;
}

.register-screen form{
  width: 400px;
  height: 80%;
  border-radius: 15px;
  margin-bottom: 35px;
  padding: 35px;
  background-color: #C4EDFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.register--form{
  padding: 10px;
}

.register--form__item{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

.register--label{
  color: #154580;
  font-size: 18px;

  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.input{
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 15px;
}
.button-verify{
  margin-top: 15px;
  background-color: #154580;
  color: white;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.button-verify:hover{
  background-color: #2069c2;
  transition: 0.5s;
}

.alert-required{
  color: red;
  font-size: 12px;
  width: 250px;
  font-family: 'Inter', sans-serif;
  margin-right: 60px;
}

.mensagem__erro {
  align-self: flex-start;
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: 5px;
}

.button-register {
  height: 50px;
  width: 380px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #154580;
  color: #FFF;
  font-size: 16;
  margin: 25px auto;
  border: none;
}

.button-register-disabled {
  height: 50px;
  width: 380px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #7c7773;
  color: #FFF;
  font-size: 16;
  margin: 25px auto;
  border: none;
}
