<div class="nav-bar--container">
  <div class="nav-bar--content ff-inter">
    <a href="">
        <img src="/assets/imagens/logo-solutis.png" alt="" class="navbar__logo--solutis">
    </a>
    <div class="nav-bar__buttons--list">
        <button class="navbar__button navbar__button--cadastrar" routerLink="/login" *ngIf="!authLoggedUser">Cadastrar</button>
        <button class="navbar__button navbar__button--login" routerLink="/login" *ngIf="!authLoggedUser">Login</button>
        <button (click)="logout()" class="navbar__button navbar__button--logout" routerLink="/home" *ngIf="authLoggedUser">Logout</button>
        <button class="navbar__button navbar__button--logout" routerLink="/listarPensamento" *ngIf="authLoggedUser">Ver pensamentos</button>
    </div>
  </div>
</div>
