<div class="nav-bar ff-inter">
    <a href="">
        <img src="" alt="" class="navbar__logo--solutis">
    </a>
    <div class="nav-bar__buttons" *ngIf="!authLoggedUser">
        <button class="navbar__button navbar__button--cadastrar" routerLink="/login">Cadastrar</button>
        <button class="navbar__button navbar__button--login" routerLink="/login">Login</button>
    </div>
    <div class="nav-bar__buttons"*ngIf="authLoggedUser" >
      <button (click)="logout()" class="navbar__button navbar__button--logout" routerLink="/home">Logout</button>
    </div>
</div>
