<div class="nav-bar--container">
    <div class="nav-bar--content ff-inter">
        <a href="">
            <img src="../../../../assets/imagens/logo-solutis.png" alt="Logo da Solutis" class="navbar__logo--solutis">
        </a>
        <div class="nav-bar__button--list">
            <button class="navbar__button navbar__button--cadastrar">Cadastrar</button>
            <button class="navbar__button navbar__button--login">Login</button>
            <button class="navbar__button navbar__button--logout">Logout</button>
        </div>
    </div>
</div>

